
form{
	/*float: right;*/
	/*width: 20rem;*/
	/*height: 20%;*/
	/*width: auto;*/

/*	flex-direction:column;
	float: left;
			display: flex;
			align-self: center; */

}
fieldset{


}

